.ArtworkList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
    width: 100%;
    gap: 1rem;
    justify-content: space-evenly;
}

.ArtworkList_error {
    background-color: #333;
    color: white;
    text-align: center;
    font-weight: 700;
    padding: 1rem 2rem;
    border-radius: 5px;
}

.ArtworkSpinner button {
    background-color: transparent;
    border: none;
    color: var(--btn-color-main);
    transition: ease .3s;
}

.ArtworkSpinner button:hover,
.ArtworkSpinner button:active {
    color: #333;
    transition: ease .3s;
}