.ArtworkSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 0 2rem 2rem;
}

.ArtworkSearch h2 {
    width: 100%;
}

.ArtworkSearch label {
    display: none;
}

.ArtworkSearch input {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.ArtworkSearch .searchForm {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    margin-bottom: 2rem;
    width: 100%;
    align-content: center;
}

.ArtworkSearch .searchForm .searchForm_fields {
    display: flex;
    width: 100%;
}

.ArtworkSearch .searchForm button {
    flex-shrink: 1;
}

 @media screen and (max-width: 600px) {
    .ArtworkSearch {
        margin: 0 0 1rem;
    }

    .ArtworkSearch .searchForm {
        flex-wrap: wrap;
    }
 }